<div class="ui-g">
  <div class="ui-g-12 title">Angular 4 Simple Reddit</div>
  <div class="ui-g-4"></div>
  <div class="ui-g-4">
    <p-panel>
      <p-header>
        <span><i class="fa fa-globe"></i> Add a Link</span>
      </p-header>
      <div class="ui-g ui-fluid">
        <div class="ui-g-12">
          <div class="ui-inputgroup center">
            <span class="ui-inputgroup-addon icon"><i class="fa fa-book"></i></span>
            <input pTooltip="Enter the Title" tooltipPosition="top" type="text" name="title" pInputText placeholder="Title" #newtitle>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-inputgroup center">
            <span class="ui-inputgroup-addon icon"><i class="fa fa-link"></i></span>
            <input pTooltip="Enter the URL" tooltipPosition="bottom" type="text" name="link" pInputText placeholder="Website" #newlink>
          </div>
        </div>
      </div>
      <div class="float-right">
        <p-button (click)="addArticle(newtitle, newlink)" label="Submit" styleClass="ui-button-rounded"></p-button>
      </div>
    </p-panel>
  </div>
  <div class="ui-g-4"></div>
  <div class="ui-g-4"></div>
  <div class="ui-g-4">
      <app-article *ngFor="let article of sortedArticles()" [article]="article"></app-article>
  </div>
  <div class="ui-g-4"></div>
</div>
